@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fafaf8;
  color: black;
  font-family: Inter, Helvetica, sans-serif;
}


main {
  padding: 30px 30px 10px; 
}